a.nt-btn {
  display: inline-block;
  width: 15rem;
  border-radius: 10rem;
  padding: 1rem;
  text-align: center;
  text-transform: uppercase;
  margin-right: 1rem;
  box-shadow: 1px 5px 50px 0 #00000077;
  transition: all 100ms ease-in-out;
  text-decoration: none;
  color: #555555;
  font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }
  a.nt-btn:active {
    text-decoration: none;
    transform: translateY(0.1rem) scale(0.99);
    box-shadow: 1px 5px 50px 0 #000000AA; }
