.App {
  text-align: center; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 8rem; }

.App-header {
  background-color: #222;
  height: 15rem;
  padding: 2rem;
  color: white; }

.App-title {
  font-size: 1.5rem; }

.App-intro {
  font-size: 1.6rem; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
