@font-face {
  src: url(./fonts/RobotoCondensed-Light.ttf);
  font-family: "Roboto";
  font-weight: lighter;
  font-style: normal; }

@font-face {
  src: url(./fonts/RobotoCondensed-LightItalic.ttf);
  font-family: "Roboto";
  font-weight: lighter;
  font-style: italic; }

@font-face {
  src: url(./fonts/RobotoCondensed-Regular.ttf);
  font-family: "Roboto";
  font-weight: normal;
  font-style: normal; }

@font-face {
  src: url(./fonts/RobotoCondensed-Italic.ttf);
  font-family: "Roboto";
  font-weight: normal;
  font-style: italic; }

@font-face {
  src: url(./fonts/RobotoCondensed-Bold.ttf);
  font-family: "Roboto";
  font-weight: bold;
  font-style: normal; }

@font-face {
  src: url(./fonts/RobotoCondensed-BoldItalic.ttf);
  font-family: "Roboto";
  font-weight: bold;
  font-style: italic; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 0.625em; }

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: normal;
  font-style: normal;
  letter-spacing: 0.07rem; }
